<div id="{{prefix}}Container">

    <button onclick="{{plugin}}.refresh()">Refresh</button>

    <table>
        <thead>
        <tr>
            <th>Resonators</th>
            <th colspan="2">Weapons</th>
            <th>Mods</th>
            <th>Keys</th>
            <th>other..</th>
        </tr>
        <tr>
            <th></th>
            <th>Bursters</th>
            <th>Strikes</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td id="{{prefix}}-Resonators-Container"></td>
            <td id="{{prefix}}-Bursters-Container"></td>
            <td id="{{prefix}}-Strikes-Container"></td>
            <td><div id="{{prefix}}-Mods-Container"></div></td>
            <td><div id="{{prefix}}-Keys-Container"></div></td>
            <td><div id="{{prefix}}-Other-Container"></div></td>
        </tr>
        </tbody>
    </table>

</div>

