<div id="{{prefix}}Container">

    <button onclick="{{plugin}}.refresh()" class="btnRefresh">Refresh</button>

    <div>
        Total: <span class="cnt" id="{{prefix}}-cntTotal"></span>
        <button onclick="{{plugin}}.showPanel('Inventory')">
            Equipment <span class="cnt" id="{{prefix}}-cntEquipment"></span>
        </button>
        <button onclick="{{plugin}}.showPanel('Keys')">
            Keys <span class="cnt" id="{{prefix}}-cntKeys"></span>
        </button>
        <button onclick="{{plugin}}.showPanel('Other')">
            Other <span class="cnt" id="{{prefix}}-cntOther"></span>
        </button>
    </div>

    <div id="{{prefix}}-Inventory-Panel" style="display: block;">
        <table class="inventoryTable">
            <thead>
            <tr>
                <th>Resonators <span class="cnt" id="{{prefix}}-cntResonators"></span></th>
                <th colspan="2">Weapons <span class="cnt" id="{{prefix}}-cntWeapons"></span></th>
                <th colspan="3">Mods <span class="cnt" id="{{prefix}}-cntMods"></span></th>
            </tr>
            <tr>
                <th></th>
                <th>Bursters <span class="cnt" id="{{prefix}}-cntBursters"></span></th>
                <th>
                    Strikes <span class="cnt" id="{{prefix}}-cntStrikes"></span>
                    &amp; Flips <span class="cnt" id="{{prefix}}-cntFlips"></span>
                </th>
                <th>Shields <span class="cnt" id="{{prefix}}-cntModShields"></span></th>
                <th>Hack <span class="cnt" id="{{prefix}}-cntModHack"></span></th>
                <th>Other <span class="cnt" id="{{prefix}}-cntModOther"></span></th>
            </tr>

            </thead>
            <tbody>
            <tr>
                <!-- Resos -->
                <td id="{{prefix}}-Resonators-Container" class="item-container"></td>
                <!-- Weapons -->
                <td id="{{prefix}}-Bursters-Container" class="item-container"></td>
                <td id="{{prefix}}-Strikes-Container" class="item-container"></td>
                <!-- Mods -->
                <td id="{{prefix}}-Shields-Container" class="item-container"></td>
                <td id="{{prefix}}-HackMods-Container" class="item-container"></td>
                <td id="{{prefix}}-OtherMods-Container" class="item-container"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="{{prefix}}-Keys-Panel" style="display: none;">
        <table class="inventoryTable" id="keysTable">
        <thead>
        <tr>
            <th data-type="string"><a href="#">Name</a></th>
            <th data-type="distance"><a href="#">Distance</a></th>
            <th data-type="number"><a href="#">Total</a> <span class="cnt" id="{{prefix}}-cntKeysTotal"></span></th>
            <th>atHand <span class="cnt" id="{{prefix}}-cntKeysAtHand"></span></th>
            <th>Capsules <span class="cnt" id="{{prefix}}-cntKeysCapsules"></span></th>
        </tr>
        </thead>
            <tbody id="{{prefix}}-Keys-Container"></tbody>
        </table>
    </div>
    <div id="{{prefix}}-Other-Panel" style="display: none;">
        <table class="inventoryTable">
            <thead>
            <tr>
                <th>Cubes <span class="cnt" id="{{prefix}}-cntCubes"></span></th>
                <th colspan="2">Boosts <span class="cnt" id="{{prefix}}-cntBoosts"></span></th>
            </tr>
            <tr>
                <th></th>
                <th>Play <span class="cnt" id="{{prefix}}-cntBoostsPlay"></span></th>
                <th>Beacons <span class="cnt" id="{{prefix}}-cntBoostsBeacons"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="{{prefix}}-Cubes-Container" class="item-container"></td>
                <td id="{{prefix}}-Boosts-Play-Container" class="item-container"></td>
                <td id="{{prefix}}-Boosts-Beacons-Container" class="item-container"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

